/* .fl a{
    float: right; */
    /* margin-top: 25px; */
    /* margin-right:44px; */
/* } */
.content{
    font-family: 'Arbutus Slab';font-size: 20px;
}
.mymargin1{
    margin-top: 15em;
    margin-right: 8em;
}